# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
goxray_*

# Test binaries
*.test

# Documents
*.md
LICENSE

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
docker-compose.yml
