# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Go binaries
*.exe*
*.dll
*.so
*.dylib

# Build artifacts
goxray_*
*.bin
*.tar.gz
*.zip
*.tar
*.7z
dist/
bin/
build/

# Local TUN artifact
tun

# Logs
*.log